<p>Beste,</p>
<p>Graag verwijzen we u naar het volgende "<%= @submitter.submission.template.name %>" document in bijlage.</p>
<p>Als alternatief, kan het document ook gedownload worden via:</p>
<% @documents.each do |document| %>
  <ul>
    <li>
      <%= link_to document.filename.to_s, rails_blob_url(document) %>
    </li>
  </ul>
<% end %>
<p>
  Bedankt,<br><%= @submitter.submission.template.account.name %>
</p>
